.top {
  margin-top: 20px;
  .top-op {
    display: flex;
    align-items: center;

    .btn {
      margin-right: 10px;
    }
    .search-panel {
      margin-left: 20px;
      width: 300px;
    }
    .icon-refresh {
      cursor: pointer;
      margin-left: 10px;
    }
    .not-allow {
      background: hsl(300, 60%, 90%) !important;
      cursor: not-allowed;
    }
  }
}
.file-list {
  .file-item {
    display: flex;
    align-items: center;
    padding: 6px 0px;
    .file-name {
      flex: 1;
      width: 0;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      span {
        cursor: pointer;
        &:hover {
          color: hsl(330, 80%, 80%);
        }
      }
      .transfer-status {
        font-size: 13px;
        color: hsl(330, 80%, 80%);
        margin-left: 10px;
      }
      .transfer-fail {
        color: hsl(330, 80%, 80%);
      }
    }
    .edit-panel {
      display: flex;
      flex: 1;
      width: 0;
      align-items: center;
      margin: 0px 5px;
      .iconfont {
        background: hsl(330, 80%, 80%);
        counter-reset: #fff;
        margin-left: 10px;
        padding: 3px 5px;
        border-radius: 5px;
        cursor: pointer;
      }
      .not-allow {
        cursor: not-allowed;
        background: hsl(330, 80%, 80%);
        color: #ddd;
        text-decoration: none;
      }
    }
    .op {
      width: 280px;
      margin-left: 15px;
      .iconfont {
        font-size: 13px;
        margin-left: 10px;
        color: hsl(330, 90%, 75%);
        cursor: pointer;
      }
      .iconfont::before {
        margin-right: 3px;
      }
    }
  }
}
.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  .no-data-inner {
    text-align: center;
    .tips {
      margin-top: 10px;
    }
    .op-list {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .op-item {
        width: 100px;
        height: 100px;
        margin: 0px 10px;
        padding: 5px 0px;
        background: hsl(300, 60%, 90%);
        cursor: pointer;
      }
    }
  }
}
